.custom-product-section {
    padding: 50px 0;
}

.custom-product-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.custom-product-media,
.custom-product-content {
    width: 100%;
}

.custom-product-media-item img {
    width: 100%;
    height: auto;
}

.custom-product-title {
    margin: 0 0 15px;
}

.custom-product-price {
    margin-bottom: 15px;
}

.custom-product-price .price {
    font-size: 18px;
}

@media screen and (min-width: 750px) {
    .custom-product-wrapper {
        gap: 40px;
    }
    .custom-product-media {
        width: calc((100% - 40px) * 3 / 5);
    }

    .custom-product-content {
        width: calc((100% - 40px) * 2 / 5);
    }
}
