.custom-product-variants fieldset {
    padding: 0;
    margin: 0 0 15px;
    border: none;
}

.custom-product-variants .option-label {
    display: block;
    margin-bottom: 10px;
}

.custom-product-options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}

.custom-product-option-label {
    display: block;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.custom-product-option-radio {
    display: none;
}

.custom-product-option-radio:checked + .custom-product-option-label {
    background-color: rgba(var(--color-foreground), 0.75);
    color: #fff;
}
